<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title></title>
    <div th:replace="/include/css.html"></div>
</head>

<body>
    <div class="container">
        <div th:replace="/include/nav.html"></div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">邮箱</th>
                    <th scope="col">创建时间</th>
                    <th scope="col">状态</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${pagination.data}">
                    <th scope="row" th:text="${item.id}">1</th>
                    <td th:text="${item.email}">Mark</td>
                    <td th:text="${#dates.format(item.createTime, 'yyyy-MM-dd hh:mm:ss')}">Otto</td>
                    <td th:text="${item.blocked? '已禁用' : '使用中'}">@mdo</td>
                    <td>
                        <!-- <form method="post"
                            th:action="@{'/admin/account/' + ${item.blocked? 'unblock.html' : 'block.html'}(id=${item.id}, redirect=${redirect})}">
                            <a type="button" href="javascript:void(0);" onclick="this.parentNode.submit()"
                                th:text="${item.blocked? '启用' : '禁用'}">禁用</a>
                        </form> -->
                        <a type="button" href="#" data-bs-toggle="modal" data-bs-href="/admin/account/block.html?id=1"
                            th:data-bs-href="@{'/admin/account/' + ${item.blocked? 'unblock.html' : 'block.html'}(id=${item.id}, redirect=${redirect})}"
                            data-bs-id="1" th:data-bs-id="${item.id}" data-bs-target="#accountBlockConfirmModal"
                            th:text="${item.blocked? '启用' : '禁用'}">删除</a>

                    </td>
                </tr>
            </tbody>
        </table>

        <div th:replace="/include/pagination.html"></div>

    </div>
    <!-- Delete Modal -->
    <div class="modal fade" id="accountBlockConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="accountBlockConfirmModal">确认禁用用户</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    确认要删除吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <form action="#" method="post">
                        <button type="submit" href="#" class="btn btn-primary">确定</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="/include/script.html"></div>
    <!-- Delete Modal -->
    <script>
        const accountBlockConfirmModal = document.getElementById('accountBlockConfirmModal')
        if (accountBlockConfirmModal) {
            accountBlockConfirmModal.addEventListener('show.bs.modal', event => {
                // Button that triggered the modal
                const button = event.relatedTarget;
                // Extract info from data-bs-* attributes
                const href = button.getAttribute('data-bs-href');

                console.log(accountBlockConfirmModal.querySelector('.modal-header'))

                accountBlockConfirmModal.querySelector('.modal-header').textContent = `确认要${button.innerText}吗？`;

                const id = button.getAttribute('data-bs-id');
                accountBlockConfirmModal.querySelector('.modal-body').textContent = `确认要${button.innerText}id为${id}的用户吗？`;

                // If necessary, you could initiate an Ajax request here
                // and then do the updating in a callback.

                // Update the modal's botton href.
                accountBlockConfirmModal.querySelector('.modal-footer form').action = href;

            })
        }
    </script>
</body>

</html>