<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title></title>
    <div th:replace="~{/include/css.html}"></div>
</head>

<body>
    <div class="container">

        <form action="#" th:action="@{/admin/premium-plan/v1.0.0/create.html}" method="post">
            <div class="mb-3">
                <label for="premium-plan-name-input" class="form-label">商品名称</label>
                <input type="text" class="form-control" id="premium-plan-name-input" name="premiumPlanName"
                    th:classappend="${#strings.isEmpty(#strings.trim(premiumPlanNameFormError)) ? '' : 'is-invalid'}"
                    th:value="${form?.premiumPlanName}">
                <div class="invalid-feedback" th:text="${premiumPlanNameFormError}"></div>
                <!-- <div class="form-text">The license has been sent to your email address.</div> -->
            </div>
            <div class="mb-3">
                <label for="premium-plan-desc-input" class="form-label">商品详情</label>
                <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
                <textarea class="form-control" id="premium-plan-desc-input" rows="3" name="premiumPlanDesc"
                    th:text="${form?.premiumPlanDesc}"></textarea>
                <div class="invalid-feedback" th:text="${premiumPlanDescFormError}"></div>
                <!-- <div class="form-text">The license has been sent to your email address.</div> -->
            </div>
            <div class="mb-3">
                <label for="premium-plan-name-input" class="form-label">关联路由</label>
                <div class="form-text" style="display: block;"
                     th:class="${#strings.isEmpty(#strings.trim(predicateListFormError)) ? 'form-text' : 'invalid-feedback'}">
                    需要至少关联一个路由规则
                </div>
                <div style="max-height: 200px; overflow: scroll; padding: 12px;">
                    <th:block th:each="predicateItem : ${predicateList}">
                        <div class="form-check">
                            <!-- th:checked="${predicateItem.checked}" -->
                            <input class="form-check-input" type="checkbox" name="predicateList" id="predicateItemCheck_1"
                                   th:classappend="${#strings.isEmpty(#strings.trim(predicateListFormError)) ? '' : 'is-invalid'}"
                                   th:checked="${#lists.contains(form?.predicateList, predicateItem.id)}"
                                   th:id="${'predicateItemCheck_' + predicateItem.id}" value="1" th:value="${predicateItem.id}">
                            <label class="form-check-label" for="predicateItemCheck_1"
                                   th:for="${'predicateItemCheck_' + predicateItem.id}" th:text="${predicateItem.predicateText}">
                                -- predicateItem.predicateText --
                            </label>
                        </div>
                    </th:block>
                </div>
            </div>
            <div class="mb-3">
                <label for="premium-plan-price-input" class="form-label">商品价格</label>
                <input type="text" class="form-control" id="premium-plan-price-input" name="premiumPlanPrice"
                    th:classappend="${#strings.isEmpty(#strings.trim(premiumPlanPriceFormError)) ? '' : 'is-invalid'}"
                    th:value="${form?.premiumPlanPrice}">
                <div class="invalid-feedback" th:text="${premiumPlanPriceFormError}"></div>
                <div class="form-text">0.00，单位：元，保留至多两位小数</div>
            </div>
            <div class="input-group mb-3">
                <!-- <input type="text" class="form-control" aria-label="Text input with dropdown button"> -->
                <input type="number" class="form-control" id="premium-plan-time-value-input" name="premiumPlanTimeValue"
                    th:classappend="${#strings.isEmpty(#strings.trim(premiumPlanTimeValueFormError)) ? '' : 'is-invalid'}"
                    th:value="${form?.premiumPlanTimeValue}">
                <select class="form-select" id="premiumPlanTimeUnit" name="premiumPlanTimeUnit"
                    th:classappend="${#strings.isEmpty(#strings.trim(premiumPlanTimeUnitFormError)) ? '' : 'is-invalid'}">
                    <!-- <option selected>Choose...</option> -->
                    <option value="DAY" th:selected="form?.premiumPlanTimeUnit=='DAY'">天</option>
                    <option value="MONTH" th:selected="form?.premiumPlanTimeUnit=='MONTH'">月</option>
                    <option value="YEAR" th:selected="form?.premiumPlanTimeUnit=='YEAR'">年</option>
                </select>
                <div class="invalid-feedback" th:text="${premiumPlanTimeValueFormError}"></div>
                <div class="invalid-feedback" th:text="${premiumPlanTimeUnitFormError}"></div>
            </div>
            <div class="mb-3">
                <label for="premium-plan-stock-input" class="form-label">库存</label>
                <input type="text" class="form-control" id="premium-plan-stock-input" name="premiumPlanStock"
                    th:classappend="${#strings.isEmpty(#strings.trim(premiumPlanStockFormError)) ? '' : 'is-invalid'}"
                    th:value="${form?.premiumPlanStock}">
                <div class="invalid-feedback" th:text="${premiumPlanStockFormError}"></div>
                <!-- <div class="form-text">0.00，单位：元，保留至多两位小数</div> -->
            </div>
            <div class="mb-3">
                <!-- <label for="premium-plan-name-input" class="form-label">开启上架销售</label> -->
                <!-- <input type="text" class="form-control" id="premium-plan-name-input" name="premiumPlanName"
                    th:classappend="${#strings.isEmpty(#strings.trim(premiumPlanNameFormError)) ? '' : 'is-invalid'}"
                    th:value="${form?.premiumPlanName}">
                <div class="invalid-feedback" th:text="${premiumPlanNameFormError}"></div>
                <div class="form-text">0.00，单位：元，保留至多两位小数</div> -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="inUse"
                        th:checked="${form?.inUse==true}" name="inUse">
                    <label class="form-check-label" for="inUse">
                        开启上架销售
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
    <div th:replace="~{/include/script.html}"></div>
    <script>
    </script>
</body>

</html>