<header class="row py-3 mb-4 border-bottom">
    <div class="col-md-10 mb-2 mb-md-0">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item">
                <a class="nav-link px-2" href="#" th:href="@{/anonymous/premium-plan/index.html}">商品列表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="#" th:href="@{/user/order/index.html}">我的订单</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="#" th:href="@{/user/support/refund/index.html}">退款申请</a>
            </li>
        </ul>
    </div>
    <div class="col-md-2 mb-2 mb-md-0">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-end mb-md-0">
            <li class="nav-item">
                <a class="nav-link px-2" href="#" th:href="@{/user/login.html}">登录</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="#" th:href="@{/user/register.html}">注册</a>
            </li>
        </ul>
    </div>
</header>
<hr>