<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title></title>
    <div th:replace="/include/css.html"></div>
</head>

<body>
    <div class="container">
        <div th:replace="/include/nav.html"></div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">商品名称</th>
                    <th scope="col">商品详情</th>
                    <th scope="col">价格</th>
                    <th scope="col">库存</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${pagination.data}">
                    <td th:text="${item.premiumPlan.id}">id</td>
                    <td th:text="${item.premiumPlan.premiumPlanName}">Mark</td>
                    <td th:text="${item.premiumPlan.premiumPlanDesc}">Otto</td>
<!--                    <td th:text="${item.premiumPlan.premiumPlanTimeValue + '/' + item.premiumPlan.premiumPlanTimeUnit}">@mdo</td>-->
                    <td th:text="${(item.premiumPlanPriceYuan) + '/' + item.premiumPlan.premiumPlanTimeUnit}">@mdo</td>
                    <td th:text="${item.premiumPlan.premiumPlanStock}">@mdo</td>
                    <td>
                        <form method="post" action="/user/order/create.html"
                            th:action="@{/user/order/create}">
                            <input type="hidden" name="skuId" th:value="${item.premiumPlan.id}" />
                            <input type="hidden" name="cnt" value="1" />
                            <button class="btn btn-link">下单</button>
                        </form>
                        <!-- <a href="/user/order/create.html"
                            th:href="@{/user/order/create(skuId=${item.premiumPlan.id}, cnt=${'1'})}">购买</a> -->
                    </td>
                </tr>
            </tbody>
        </table>

        <div th:replace="/include/pagination.html"></div>

    </div>
    <!-- Delete Modal -->
    <th:block th:replace="/include/delete.html::deleteConfirmModalHtml" />
    <div th:replace="/include/script.html"></div>
    <!-- Delete Modal -->
    <th:block th:replace="/include/delete.html::deleteConfirmModalScript" />
</body>

</html>