<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title></title>
    <div th:replace="/include/css.html"></div>
</head>

<body>
    <div class="container">
        <div th:replace="/include/nav.html"></div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Predicate</th>
                    <th scope="col">Filter</th>
                    <th scope="col">Uri</th>
                    <th scope="col">
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${pagination.data}">
                    <td th:text="${item.premiumPlanName}">Mark</td>
                    <td th:text="${item.premiumPlanDesc}">Otto</td>
                    <td th:text="${item.premiumPlanPrice}">@mdo</td>
                    <td th:text="${item.premiumPlanTimeUnit}">@mdo</td>
                    <td th:text="${item.premiumPlanTimeValue}">@mdo</td>
                    <td>
                        <a href="/admin/route/update.html"
                            th:href="@{/admin/route/v1.0.0/update.html(id=${item.id}, redirect=${redirect})}">购买</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div th:replace="/include/pagination.html"></div>

    </div>
    <!-- Delete Modal -->
    <th:block th:replace="/include/delete.html::deleteConfirmModalHtml" />
    <div th:replace="/include/script.html"></div>
    <!-- Delete Modal -->
    <th:block th:replace="/include/delete.html::deleteConfirmModalScript" />
</body>

</html>