<ul class="nav">
    <!-- <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">路由管理</a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/admin/route/index.html}">路由管理</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/admin/product/index.html}">商品管理</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/admin/user/index.html}">用户管理</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/anonymous/product/index.html}">商品列表</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li> -->
</ul>