<ul class="pagination pagination-sm"
    th:with="requestPathWithoutContextPath=${#ctx.getVariable('org.springframework.web.reactive.HandlerMapping.pathWithinHandlerMapping')}">

    <!-- 上一页 -->
    <li class="page-item">
        <a class="page-link"
            th:href="@{${requestPathWithoutContextPath + '?page=' + pagination.prev + '&size=' + pagination.size}}"
            href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>

    <!-- 如果当前页面到首页有3页以上，只显示3页并且显示一个不可点击的... -->
    <th:block th:if="${pagination.pageNumStart() > 1}">
        <li class="page-item disabled">
            <a class="page-link">...</a>
        </li>
    </th:block>

    <!-- 页码 -->
    <th:block th:each="i:${#numbers.sequence(pagination.pageNumStart(), pagination.pageNumEnd())}">
        <li class="page-item" th:classappend="${i == pagination.page} ? 'active' : ''">
            <a class="page-link" href="#" th:text="${i}"
                th:href="@{${requestPathWithoutContextPath + '?page=' + i + '&size=' + pagination.size}}">i</a>
        </li>
    </th:block>

    <!-- 如果当前页面到末页有3页以上，只显示3页并且显示一个不可点击的... -->
    <th:block th:if="${pagination.pageNumEnd() < pagination.pages}">
        <li class="page-item" disabled>
            <a class="page-link">...</a>
        </li>
    </th:block>

    <!-- 下一页 -->
    <li class="page-item">
        <a class="page-link"
            th:href="@{${requestPathWithoutContextPath + '?page=' + pagination.next + '&size=' + pagination.size}}"
            href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul>