<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title>确认订单</title>
    <div th:replace="~{include/css}"></div>
</head>

<body>
    <div class="container">
        <div th:replace="~{include/user/nav}"></div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="${skp.premiumPlanSkp.premiumPlanName}">商品名称</h5>
                <p class="card-text" style="white-space: pre-wrap;" th:utext="${skp.premiumPlanSkp.premiumPlanDesc}">商品详情</p>
                <form method="post" th:action="@{/user/order/create}">
                    <select class="form-select mb-3" name="skuId">
                        <option th:each="sku : ${skp.premiumPlanSkuList}"
                                th:value="${sku.premiumPlanSku.id}"
                                th:selected="${selectedSkuId != null && selectedSkuId == sku.premiumPlanSku.id}"
                                th:text="${sku.premiumPlanPriceYuan + '元 / ' + sku.premiumPlanSku.premiumPlanSkuName}">
                        </option>
                    </select>
                    <input type="hidden" name="cnt" value="1" />
                    <button type="submit" class="btn btn-primary w-100">立即下单</button>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="~{include/script}"></div>
</body>

</html>