<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title></title>
    <div th:replace="~{include/css}"></div>
</head>

<body>
<div class="container">
<!--    <div th:replace="~{include/user/nav}"></div>-->
    
    <img src="data:image/png;base64," th:src="${pay}"/>
</div>
<div th:replace="~{include/script}"></div>
</body>

</html>