<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title></title>
    <div th:replace="~{include/css}"></div>
</head>

<body>
    <div class="container">
        <div style="margin-top: 150px;"></div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form method="post">
                    <div class="mb-3">
                        <label for="license-input" class="form-label">请输入您的accessKey</label>
                        <input type="text" class="form-control" id="license-input" name="accessKey"
                            th:classappend="${#strings.isEmpty(#strings.trim(accessKeyError)) ? '' : 'is-invalid'}"
                            th:value="${accessKeyText}"
                            aria-describedby="license-input-help">
                        <div class="invalid-feedback" th:text="${accessKeyError}">
                            Please input a accessKey.
                        </div>
<!--                        <div class="form-text">The accessKey has been sent to your email address.</div>-->
                    </div>
                    <button type="submit" class="btn btn-primary">进入</button>
                </form>
                <!--<div class="mt-3">
                    <a th:href="@{/user/register.html}">没有账号？点击注册</a>
                </div>-->
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div th:replace="~{include/script}"></div>
    <script>
    </script>
</body>

</html>