<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title></title>
    <div th:replace="/include/css.html"></div>
</head>

<body>
    <div class="container">
        <div style="margin-top: 150px;"></div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="alert alert-success" role="alert">
                    Login successful! Please go back and reopen your previous page to continue.
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div th:replace="/include/script.html"></div>
    <script>
    </script>
</body>

</html>