<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title></title>
    <div th:replace="~{include/css}"></div>
</head>

<body>
    <div class="container">
        <div th:replace="~{include/nav}"></div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">商品名称</th>
                    <!-- <th scope="col">商品详情</th> -->
                    <th scope="col">有效期</th>
                    <th scope="col">库存</th>
                    <th scope="col">上架状态</th>
                    <th scope="col">
                        <a href="/admin/premium-plan/create.html" th:href="@{/admin/premium-plan/v1.0.0/create.html}">新建</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${pagination.data}">
                    <th scope="row" th:text="${item.id}">1</th>
                    <td th:text="${item.premiumPlanName}">Mark</td>
                    <!-- <td th:text="${item.premiumPlanDesc}">Otto</td> -->
                    <td th:text="${item.premiumPlanTimeValue + '&nbsp;' + item.premiumPlanTimeUnit}">@mdo</td>
                    <td th:text="${item.premiumPlanStock}">1</td>
                    <td th:text="${item.inUse == true ? '上架中' : '未上架'}">上架中</td>
                    <td>
                        <a href="/admin/premium-plan/update.html"
                            th:href="@{/admin/premium-plan/v1.0.0/update.html(id=${item.id}, redirect=${redirect})}">修改</a>
                        <a type="button" href="#" data-bs-toggle="modal"
                            data-bs-href="/admin/premium-plan/delete.html?id=1"
                            th:data-bs-href="@{/admin/premium-plan/delete.html(id=${item.id}, redirect=${redirect})}"
                            data-bs-id="1"
                            th:data-bs-id="${item.id}"
                            data-bs-target="#deleteConfirmModal">删除</a>

                    </td>
                </tr>
            </tbody>
        </table>

        <div th:replace="~{include/pagination}"></div>

        
    </div>
    <!-- Delete Modal -->
    <th:block th:replace="include/delete::deleteConfirmModalHtml" />
    <div th:replace="~{include/script}"></div>
    <!-- Delete Modal -->
    <th:block th:replace="include/delete::deleteConfirmModalScript" />
</body>

</html>